html {
  /* cursor: none; */
  overflow: hidden;
  background: #000;
}

::-webkit-scrollbar {
  display: none;
}

body {
  position: absolute;
  height: calc(100%);
  width: calc(100%);
  background: #000;
  color: #aaa;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.5em;
  -webkit-font-smoothing: antialiased;
}

/**
 * Default styles.
 */

.dimmed {
  color: #666;
}

.normal {
  color: #999;
}

.bright {
  color: #fff;
}

.xsmall {
  font-size: 15px;
  line-height: 20px;
}

.small {
  font-size: 20px;
  line-height: 25px;
}

.medium {
  font-size: 30px;
  line-height: 35px;
}

.large {
  font-size: 65px;
  line-height: 65px;
}

.xlarge {
  font-size: 75px;
  line-height: 75px;
  letter-spacing: -3px;
}

.thin {
  font-family: Roboto, sans-serif;
  font-weight: 100;
}

.light {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
}

.regular {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
}

.bold {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

header {
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: 400;
  border-bottom: 1px solid #666;
  line-height: 15px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #999;
}

sup {
  font-size: 50%;
  line-height: 50%;
}

/**
 * Module styles.
 */

.module {
  margin-bottom: 30px;
}

.region.bottom .module {
  margin-top: 30px;
  margin-bottom: 0;
}

.no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pre-line {
  white-space: pre-line;
}

/**
 * Region Definitions.
 */

.region {
  &.fullscreen {
    position: absolute;
    top: -60px;
    left: -60px;
    right: -60px;
    bottom: -60px;
    pointer-events: none;
    * {
      pointer-events: auto;
    }
  }
  &.right {
    right: 0;
    text-align: right;
  }
  &.top {
    top: 0;
    .container {
      margin-bottom: 25px;
    }
    &.bar{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
  }
  &.bottom .container {
    margin-top: 25px;
  }
  &.top {
    .container:empty {
      margin-bottom: 0;
    }
    &.center {
      left: 50%;
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }
  &.bottom.center {
    left: 50%;
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  &.top {
    &.right, &.left, &.center {
      top: 100%;
    }
  }
  &.bottom {
    bottom: 0;
    .container:empty {
      margin-top: 0;
    }
    &.right, &.center, &.left {
      bottom: 100%;
    }
  }
  &.bar {
    width: 100%;
    text-align: center;
  }
  &.third, &.middle.center {
    width: 100%;
    text-align: center;
  }
  &.upper.third {
    top: 33%;
  }
  &.middle.center {
    top: 50%;
  }
  &.lower.third {
    top: 66%;
  }
  &.left {
    text-align: left;
  }
  table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
  }
}


.region{
  &--global{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }
}
